.campaigns-area {
    background-color: var(--light-green);
    color: var(--white);
    margin-top: 3.125rem;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

article h4 {
    color: #1e1e1e;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

article h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.article-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.article-content p {
    flex: 1;
    font-size: 1rem;
    margin-top: 7rem;
}

.article-content em {
    display: block;
    margin-top: 1rem;
    font-style: italic;
}

.article-content img,
.next-campaigns-img img {
    flex: 0 0 45%;
    width: 515px;
}

#campaign-first-image,
#next-campaign-image {
    border: 30px var(--dark-green) solid;
}

#campaign-second-image {
    border: 30px var(--dark-yellow) solid;
}

#campaign-third-image {
    border: 30px var(--middle-green) solid;
}

span {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    margin: 0.2rem 0;
    opacity: 0.7;
}

a {
    color: var(--dark-green);
    text-decoration: underline;
    font-weight: bold;
}

.next-campaigns-area {
    background-color: var(--dark-yellow);
    color: var(--white);
    margin-top: 5.125rem;
}

.next-campaigns-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 5rem;
}

.next-campaigns-text p {
    margin-top: 5rem;
}

@media (max-width: 810px) {
    .campaigns-area {
        margin-top: 0;
    }

    article h1 {
        margin-bottom: 0.125rem;
        font-size: 1.2rem;
    }

    article h4 {
        font-size: 0.8rem;
    }

    .article-content p {
        margin-top: 2rem;
        font-size: 1rem;
    }

    .article-content,
    .next-campaigns-main {
        flex-direction: column;
        gap: 1rem;
    }

     .next-campaigns-main {
        margin-top: 0;
     }

    .article-content img,
    .next-campaigns-img img {
        width: 100%;
        height: auto;
    }

    #campaign-first-image,
    #next-campaign-image {
        align-self: center;
        border: 15px var(--dark-green) solid;
    }

    #next-campaign-image {
        align-items: center;
    }

    #campaign-second-image {
        align-self: center;
        border: 15px var(--dark-yellow) solid;
    }

    #campaign-third-image {
        align-self: center;
        border: 15px var(--middle-green) solid;
    }

    span {
        margin: 0.1rem 0;
        height: 1px;
    }

    .next-campaigns-text p {
        margin-top: 1rem;
    }
}