<app-navbar></app-navbar>
<app-carousel></app-carousel>
<section>
    <div class="content-container">
        <article>
            <h4>nossas ações e campanhas</h4>
            <h1>Campanha do agasalho (agosto/2025)</h1>

            <div class="article-content">
                <p>Durante o inverno, mobilizamos voluntários e parceiros para arrecadar roupas e cobertores, ajudando
                    famílias indígenas a enfrentarem os dias frios com mais conforto e dignidade.
                    <br>
                    <em>“Ver o sorriso de quem recebe é o que nos motiva a continuar.”</em>
                </p>
                <img src="../../../assets/campaigns-screen/agasalho.png" alt="" loading="lazy"
                    id="campaign-first-image">
            </div>
        </article>
        <div class="line-between"></div>
        <article>
            <h1>Arrecadação de materiais escolares (junho/2025)</h1>

            <div class="article-content">
                <p>Promovemos uma campanha para arrecadar cadernos, lápis, mochilas e outros materiais,
                    garantindo que as crianças da aldeia
                    Nhaderupo possam começar o semestre com tudo o que precisam para estudar.
                    Resultado: dezenas de kits escolares
                    entregues com muito carinho!</p>
                <img src="../../../assets/campaigns-screen/materiais-2025.webp" alt="" loading="lazy"
                    id="campaign-second-image">
            </div>
        </article>
        <div class="line-between"></div>
        <article>
            <h1>dia das crianças (outubro/2024)</h1>
            <div class="article-content">
                <p>
                    Um dos dias mais marcantes do ano!
                    Levamos brincadeiras, doces, brinquedos e muito amor para as crianças da aldeia.
                    Mais de 10 kg de doces arrecadados e uma tarde cheia de risadas e aprendizado!
                </p>
                <img src="../../../assets/campaigns-screen/criancas-2024.png" alt="" loading="lazy"
                    id="campaign-third-image">
            </div>
        </article>
        <div class="line-between"></div>
        <article>
            <h1>Natal solidário (dezembro/2025)</h1>
            <div class="article-content">
                <p>Neste fim de ano, o Projeto Piragui realizará sua primeira campanha de Natal, levando alegria,
                    esperança e solidariedade às famílias da aldeia.
                    A ação reunirá voluntários e doadores em uma corrente do bem para entregar presentes, alimentos e
                    mensagens de carinho.
                    Ainda há tempo para participar e fazer parte dessa celebração especial!
                    E o trabalho continua...
                    A cada nova ação, mais pessoas se unem a essa causa.
                    Nosso sonho é expandir o Piragui, alcançando novas aldeias e fortalecendo o impacto de cada gesto
                    solidário.
                    Quer participar da próxima ação? <i><a href="">Seja um voluntário!</a></i></p>
                    <img src="../../../assets/campaigns-screen/natal-2025.png" alt="" loading="lazy" id="campaign-fourth-image">
            </div>
        </article>
    </div>
</section>
<app-footer></app-footer>