<app-navbar></app-navbar>
<app-carousel></app-carousel>
<section class="campaigns-area">
    <div class="content-container">
        <h4>nossas ações e campanhas</h4>
        <article class="campaigns-main">
            <section class="campaigns-text">
                <h2>Campanha do agasalho (agosto/2025)</h2>
                <p>Durante o inverno, mobilizamos voluntários e parceiros para arrecadar roupas e cobertores, ajudando
                    famílias indígenas a enfrentarem os dias frios com mais conforto e dignidade.
                    <br><br>
                    <em>“Ver o sorriso de quem recebe é o que nos motiva a continuar.”</em>
                </p>
            </section>
            <figure class="campaigns-image order-image">
                <img src="../../../assets/campaigns-screen/campanha.jpeg" alt="Foto do poster da campanha do agasalho de 2025." loading="lazy"
                    id="campaign-first-image">
            </figure>
        </article>
        <span></span>
        <article class="campaigns-main">
            <section class="campaigns-text">
                <h2>Arrecadação de materiais escolares (junho/2025)</h2>
                <p>Promovemos uma campanha para arrecadar cadernos, lápis, mochilas e outros materiais,
                    garantindo que as crianças da aldeia
                    Nhaderupo possam começar o semestre com tudo o que precisam para estudar. <br><br>
                    Resultado: <strong>dezenas de kits escolares
                    entregues com muito carinho!</strong></p>
            </section>
            <figure class="campaigns-image">
                <img src="../../../assets/campaigns-screen/materiais-escolares.jpeg" alt="Foto de um dos meninos indígenas da aldeia recebendo material escolar da campanha de arrecadação de materiais escolares em 2025." loading="lazy"
                    id="campaign-second-image">
            </figure>
        </article>
        <span></span>
        <article class="campaigns-main">
            <section class="campaigns-text">
                <h2>dia das crianças (outubro/2024)</h2>
                <p>
                    Um dos dias mais marcantes do ano! <br><br>
                    Levamos brincadeiras, doces, brinquedos e muito amor para as crianças da aldeia. <br><br>
                    Mais de 10 kg de doces arrecadados e uma tarde cheia de risadas e aprendizado!
                </p>
            </section>
            <figure class="campaigns-image order-image">
                <img src="../../../assets/campaigns-screen/dia-das-criancas-2024.jpeg" alt="Foto de duas crianças indígenas da aldeia recebendo brinquedos da campanha do dia das crianças em 2024" loading="lazy"
                    id="campaign-third-image">
            </figure>
        </article>
    </div>
</section>
<section class="next-campaigns-area">
    <div class="content-container">
        <article class="next-campaigns-main">
            <section class="next-campaigns-text">
                <h2>Próxima campanha e novas ações</h2>
                <p>Neste fim de ano, o Projeto Piragui realizará sua primeira campanha de Natal, levando alegria,
                    esperança e solidariedade às famílias da aldeia. <br>
                    A ação reunirá voluntários e doadores em uma corrente do bem para entregar presentes, alimentos e
                    mensagens de carinho. <br>
                    Ainda há tempo para participar e fazer parte dessa celebração especial! <br>
                    E o trabalho continua... <br><br>
                    A cada nova ação, mais pessoas se unem a essa causa.
                    Nosso sonho é expandir o Piragui, alcançando novas aldeias e fortalecendo o impacto de cada gesto
                    solidário.
                    Quer participar da próxima ação? <i *ngFor="let link of campaignsLink">
                        <a (click)="navigateTo(link.route, link.fragment)"
                            [class.active]="router.url === link.route || router.url.startsWith(link.route + '#')"
                            style="cursor: pointer">
                            Seja um voluntário!</a></i></p>
            </section>
            <figure class="next-campaigns-img">
                <img src="../../../assets/campaigns-screen/dia-das-criancas-2024-2.jpeg" alt="Foto de crianças indígenas da aldeia brincando no dia das crianças em 2024." loading="lazy"
                    id="next-campaign-image">
            </figure>
        </article>
    </div>
</section>
<app-footer></app-footer>