main {
    background-color: var(--light-green);
    color: var(--white);
    margin-top: 3.125rem;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

h4 {
    color: #1e1e1e;
    font-weight: 500;
}

p,
strong {
    font-size: 1rem;
}

.main-content section,
.partner-text p,
.partner-text h1 {
    margin-top: 5rem;
}

.index-img img,
.donate-img img,
.partner-img img {
    width: 515px;
    border: 30px var(--dark-yellow) solid;
}

#como-ajudar {
    background-color: var(--dark-yellow);
    color: var(--white);
    margin-top: 5.125rem;
}

.donate-content,
.partner-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 5rem;
}

#volunteers-img {
    border: 30px var(--dark-green) solid;
}

.donate-text p {
    margin-top: 3.2rem;
}

.infographic-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 4rem;
    margin-top: 3rem;
}

.infographic-content section {
    display: flex;
    gap: 1.5rem;
}

.infographic-content section mat-icon {
    width: 80px;
    height: 80px;
    font-size: 80px;
    color: var(--dark-green);
}

.info-text {
    display: flex;
    flex-direction: column;
}

.infographic-content section h2 {
    color: var(--dark-green);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
}

.infographic-content section span {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 1rem;
    color: var(--white);
}

.donate-area {
    background-color: var(--light-green);
    color: var(--white);
    margin-top: 5.125rem;
}

.donate-main h1 {
    margin-bottom: 2rem;
}

.donate-main {
    margin-bottom: 1rem;
}

.partner-area {
    background-color: var(--dark-yellow);
    color: var(--white);
    margin-top: 5.125rem;
}

#volunteer-img {
    border: 30px var(--light-green) solid;
}

@media (max-width: 810px) {

    .main-content,
    .donate-content,
    .partner-main {
        flex-direction: column;
        gap: 1rem;
    }

    main {
        margin-top: 0;
    }

    .index-img img,
    .donate-img img,
    .partner-img img {
        width: 100%;
        height: auto;
        border: 15px var(--dark-yellow) solid;
    }

    #volunteers-img {
        border: 15px var(--dark-green) solid;
    }

    #volunteer-img {
        border: 15px var(--light-green) solid;
    }

    h1 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    p,
    strong,
    em {
        font-size: 1rem;
    }

    .main-content section p,
    .donate-text p {
        margin-top: 0.5rem;
    }

    .main-content section {
        margin-top: 0;
    }

    .partner-text h1 {
        margin-top: 1rem;
    }

    .main-content section p,
    .partner-text p {
        margin-top: 1rem;
    }

    .infographic-content section mat-icon {
        width: 80px;
        font-size: 50px;
        gap: 2rem;
    }

    .infographic-content section h2 {
        font-size: 0.9rem;
    }

    .infographic-content section span {
        font-size: 1rem;
        max-width: auto;
    }
}

@media (max-width: 450px) {
    .infographic-content {
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    .infographic-content section mat-icon {
        margin-top: 1.2rem;
    }
}