<app-navbar></app-navbar>
<app-carousel></app-carousel>
<main>
    <div class="content-container">
        <article class="main-content">
            <section>
                <h2>Transforme sua energia em ação</h2>
                <br><br>
                <p>O <strong> Projeto Piragui</strong> nasceu do desejo
                    de <strong>fazer a diferença</strong> — unindo
                    pessoas que acreditam que pequenas atitudes podem gerar grandes transformações.</p>

                <p>Atuamos <strong>lado a lado com comunidades indígenas</strong>, levando <strong>educação e
                        esperança</strong>,sempre com respeito às
                    raízes e à cultura Guarani.</p>

                <p> Cada ação é um encontro de saberes, onde quem ajuda também aprende.
                    Ser voluntário no Piragui é viver de perto a <strong>força da solidariedade</strong>, é se conectar
                    com histórias reais e contribuir para a preservação de culturas, vidas e tradições que fazem parte
                    do Brasil.
                </p>
                <br><br>
                <strong>A mudança começa quando você decide agir.</strong>
            </section>
            <figure class="index-img">
                <img src="../../../assets/home-screen/home-aldeia-paranapua.jpeg"
                    alt="Foto das árvores na entrada da aldeia Paranapuã" loading="lazy">
            </figure>
        </article>
    </div>
</main>
<section id="como-ajudar">
    <div class="content-container">
        <h4>como ajudar</h4>
        <h2>A importância de ser um voluntário</h2>

        <article class="donate-content">
            <figure class="donate-img">
                <img src="../../../assets/home-screen/home-dia-das-criancas.jpeg"
                    alt="Voluntários do Projeto Piragui com as crianças da aldeia na campanha do dia das criaças em outubro de 2024"
                    loading="lazy" id="volunteers-img">
            </figure>

            <section class="donate-text">
                <p>Ser voluntário é fazer parte de algo maior.</p>

                <p>Cada pessoa que doa um pouco do seu tempo, talento ou energia contribui para transformar a
                    realidade das comunidades indígenas que o Projeto Piragui apoia.</p>

                <p>Não é preciso ter experiência — basta vontade de ajudar e respeito pela causa.</p>

                <p> Sua presença pode inspirar, ensinar e mudar vidas.</p>
                <p> Quer ser voluntário? Entre em contato conosco e venha participar das próximas ações!</p>
            </section>
        </article>

        <article class="infographic-content">
            <section class="donate-info">
                <mat-icon>volunteer_activism</mat-icon>
                <div class="info-text">
                    <h2>Apoie</h2>
                    <span>Doe esperanças e transforme famílias</span>
                </div>
            </section>
            <section class="volunteer-info">
                <mat-icon>diversity_3</mat-icon>
                <div class="info-text">
                    <h2>Seja voluntário</h2>
                    <span>Viva a experiência de mudar vidas</span>
                </div>
            </section>
            <section class="partner-info">
                <mat-icon>diversity_2</mat-icon>
                <div class="info-text">
                    <h2>Vire um parceiro</h2>
                    <span>Empresas amigas ajuda a ir mais longe</span>
                </div>
            </section>
            <section class="share-info">
                <mat-icon>campaign</mat-icon>
                <div class="info-text">
                    <h2>Divulgue o projeto</h2>
                    <span>Multiplique o bem nas redes sociais</span>
                </div>
            </section>
        </article>
    </div>
</section>
<section class="donate-area">
    <div class="content-container">
        <article class="donate-main">
            <h2>Doe e faça a diferença</h2>
            <p>
                Nem sempre é possível estar presente, mas toda contribuição ajuda! <br>
                As doações financeiras são essenciais para a compra de materiais, <br> alimentos e transporte das
                equipes durante as ações.
            </p>
            <br><br>
            <em>Chave PIX: <strong>projetopiragui@gmail.com</strong></em><br><br>
            <p><em>Ponto de arrecadação física:</em><strong>  Faculdade Unisantos</strong><br>
                <em>Endereço</em>: Av. Conselheiro Nébias, 296 - Vila Matias, Santos - SP, 11015-003 <br>
                <em>(avise antes de entregar suas doações para que possamos recebê-las corretamente)</em>
            </p>
            <br><br>
            <em>Cada doação, por menor que pareça, faz parte de uma grande corrente de solidariedade.
            </em>
        </article>
    </div>
</section>
<section class="partner-area">
    <div class="content-container">
        <article class="partner-main">
            <figure class="partner-img">
                <img src="../../../assets/home-screen/home-parceria.jpeg"
                alt="Foto de um dos nossos voluntários com uma criança indígena da aldeia no colo." loading="lazy" id="volunteer-img">
            </figure>
            <section class="partner-text">
                <h2>Seja parceiro do projeto</h2>
                <p>
                    A Piragui acredita que juntos podemos ir mais longe. Empresas amigas têm a
                    oportunidade de apoiar nossas ações por
                    meio de <strong>doações</strong>, <strong>eventos</strong> ou <strong>serviços</strong>,
                    contribuindo para levar esperança e oportunidades às comunidades indígenas.
                    Cada parceria fortalece nossos projetos e amplia o impacto social, ajudando a transformar vidas de
                    forma concreta. Se houver interesse em se tornar um parceiro, entre em <strong>contato conosco</strong> e descubra
                    como participar.
                    <br><br>
                    <em>Juntos, fazemos a diferença.</em>
                </p>
            </section>
        </article>
    </div>
</section>
<app-footer></app-footer>