<app-navbar></app-navbar>
<app-carousel></app-carousel>
<section class="index-home">
    <div class="content-container">
        <div class="index-text">
            <h1>Transforme sua energia em ação</h1>
            <br><br>
            <p>O <strong> Projeto Piragui</strong> nasceu do desejo
                de <strong>fazer a diferença</strong> — unindo
                pessoas que acreditam que pequenas atitudes podem gerar grandes transformações.</p>
            <p>Atuamos <strong>lado a lado com comunidades indígenas</strong>, levando <strong>educação e esperança</strong>,sempre com respeito às
                raízes e à cultura Guarani.</p>
            <p> Cada ação é um encontro de saberes, onde quem ajuda também aprende.
                Ser voluntário no Piragui é viver de perto a <strong>força da solidariedade</strong>, é se conectar com histórias reais e
                contribuir para a preservação de culturas, vidas e tradições que fazem parte do Brasil.
            </p>
            <br><br>
            <strong>A mudança começa quando você decide agir.</strong>
        </div>
        <div class="index-img">
            <img src="../../../assets/home-screen/home.png" alt="Foto das árvores na entrada da aldeia" loading="lazy">
        </div>
    </div>
</section>
