main {
    background-color: var(--light-green);
    color: var(--white);
    margin-top: 3.125rem;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

h4 {
    color: #1e1e1e;
    font-weight: 500;
}

p,
strong {
    font-size: 1rem;
}

.main-content section p {
    margin-top: 2.5rem;
}

.index-img img,
.donate-img img {
    width: 515px;
    border: 30px var(--dark-yellow) solid;
}

#como-ajudar {
    background-color: var(--dark-yellow);
    color: var(--white);
    margin-top: 5.125rem;
}

.donate-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 5rem;
}

#volunteers-img {
    border: 30px var(--dark-green) solid;
}

.donate-text p {
    margin-top: 3.2rem;
    font-weight: 500;
}

@media (max-width: 810px) {

    .main-content,
    .donate-content {
        flex-direction: column;
        gap: 1rem;
    }

    main {
        margin-top: 0;
    }

    .index-img img,
    .donate-img img {
        width: 100%;
        height: auto;
        border: 15px var(--dark-yellow) solid;
    }

    #volunteers-img {
        border: 15px var(--dark-green) solid;
    }

    h1 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    p,
    strong,
    em {
        font-size: 1rem;
    }

    .main-content section p,
    .donate-text p {
        margin-top: 0.5rem;
    }
}