<app-navbar></app-navbar>
<app-carousel></app-carousel>
<main>
    <div class="content-container">
        <h1>Transforme sua energia em ação</h1>
        <article class="main-content">
            <section>
                <br><br>
                <p>O <strong> Projeto Piragui</strong> nasceu do desejo
                    de <strong>fazer a diferença</strong> — unindo
                    pessoas que acreditam que pequenas atitudes podem gerar grandes transformações.</p>

                <p>Atuamos <strong>lado a lado com comunidades indígenas</strong>, levando <strong>educação e
                        esperança</strong>,sempre com respeito às
                    raízes e à cultura Guarani.</p>

                <p> Cada ação é um encontro de saberes, onde quem ajuda também aprende.
                    Ser voluntário no Piragui é viver de perto a <strong>força da solidariedade</strong>, é se conectar
                    com histórias reais e contribuir para a preservação de culturas, vidas e tradições que fazem parte
                    do Brasil.
                </p>
                <br><br>
                <strong>A mudança começa quando você decide agir.</strong>
            </section>
            <figure class="index-img">
                <img src="../../../assets/home-screen/home-aldeia-paranapua.jpeg"
                    alt="Foto das árvores na entrada da aldeia Paranapuã" loading="lazy">
            </figure>
        </article>
    </div>
</main>
<section id="como-ajudar">
    <div class="content-container">
        <h4>como ajudar</h4>
        <h1>A importância de ser um voluntário</h1>

        <article class="donate-content">
            <figure class="donate-img">
                <img src="../../../assets/home-screen/home-dia-das-criancas.jpeg"
                    alt="Voluntários do Projeto Piragui com as crianças da aldeia na campanha do dia das criaças em outubro de 2024"
                    loading="lazy" id="volunteers-img">
            </figure>

            <section class="donate-text">
                <p>Ser voluntário é fazer parte de algo maior.</p>

                <p>Cada pessoa que doa um pouco do seu tempo, talento ou energia contribui para transformar a
                    realidade das comunidades indígenas que o Projeto Piragui apoia.</p>

                <p>Não é preciso ter experiência — basta vontade de ajudar e respeito pela causa.</p>

                <p> Sua presença pode inspirar, ensinar e mudar vidas.</p>
                <p> Quer ser voluntário? Entre em contato conosco e venha participar das próximas ações!</p>
            </section>
        </article>
    </div>
</section>
<app-footer></app-footer>