<footer class="footer">
  <div class="content-container">
    <div class="social-links">
      <a href="https://www.linkedin.com/company/projeto-piragui" 
         class="social-icon">
        <i class="fab fa-linkedin"></i>
        <span class="social-text">Projeto Piragui</span>
      </a>
      
      <a href="https://www.instagram.com/projetopiragui" 
         class="social-icon">
        <i class="fab fa-instagram"></i>
        <span class="social-text">@projetopiragui</span>
      </a>
      
      <a href="mailto:projetopiragui@gmail.com" 
         class="social-icon">
        <i class="far fa-envelope"></i>
        <span class="social-text">projetopiragui@gmail.com</span>
      </a>
    </div>
  </div>
</footer>