<nav>
  <div class="navbar-container">
    <div class="navbar-logo">
      <div class="logo-circle">
        <img src="../../../assets/logo/piragui-logo.png" alt="Logo do Projeto Piragui" loading="lazy">
      </div>
      <div class="logo-text">
        <span class="project-lower">projeto</span>
        <span class="project-upper">PIRAGUI</span>
      </div>
    </div>
    
    <ul>
      <li *ngFor="let link of navLinks" class="nav-item">
        <a [routerLink]="link.route" class="nav-link" routerLinkActive="active">
          {{ link.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>