<app-navbar></app-navbar>
<app-carousel></app-carousel>

<section>
    <div class="content-container">
        <article>
            <h4>sobre nós</h4>
            <h1>Nossa história</h1>
            <br><br>

            <p>
                O <strong>Projeto Piragui</strong> nasceu em abril de 2024, a partir de um gesto simples de
                solidariedade: uma visita à
                aldeia Nhaderupo, na terra indígena Aguapeu, em Mongaguá, para entregar chocolates de Páscoa.</p>
            <br>
            <p>
                O que começou como uma ação pontual de um pequeno grupo se transformou em um <strong>movimento
                    coletivo</strong> de
                pessoas
                unidas pelo desejo de fazer a diferença.
                Com o passar do tempo, mais voluntários foram se juntando — cada um contribuindo com seus conhecimentos,
                tempo e coração. Dessa união nasceu o <strong>Piragui</strong>, um projeto que busca <strong>ampliar o
                    alcance das ações
                    solidárias e
                    fortalecer as comunidades indígenas</strong> da região.</p>
        </article>
        <img src="../../../assets/about-us-screen/about-us-1.png"
            alt="Legenda a ser preenchida conforme a mudança de foto futura" loading="lazy" id="about-us-first-img">
        <article>
            <p>O nome <strong>“Piragui”</strong>, que significa sereia em Guarani, foi um presente do Cacique Luiz,
                primeiro líder a nos
                receber. Escolhemos esse nome como símbolo do <strong>respeito</strong>, <strong>aprendizado</strong> e
                <strong>conexão</strong> que construímos com o povo
                Guarani
            </p>
            <br>
            <p> Hoje, o Projeto Piragui atua na <strong>Baixada Santista</strong>, promovendo ações de <strong>educação
                    socioambiental</strong>, <strong>saúde</strong> e
                <strong>fortalecimento cultural</strong>, sempre com o propósito de <strong>valorizar as raízes
                    indígenas e impulsionar a justiça
                    social</strong>.
            </p>
        </article>
        <img src="../../../assets/about-us-screen/about-us-2.png"
            alt="Legenda a ser preenchida conforme a mudança de foto futura" loading="lazy" id="about-us-second-img">
        <article>
            <em><strong>“Quando muitas mãos se unem, o impacto se multiplica.”</strong></em>
            <p>    Esse é o espírito que move o Piragui — e o convite está aberto: <a href="">venha fazer parte dessa história!</a></p>
        </article>
    </div>
</section>
<app-footer></app-footer>